
<div class="text-center">
    <h2>{{quiz_name}}{{quiz.id}}</h2>
        <h3>{{question.question_name}}</h3>
</div>

<div class="row mb-4 answer-group" value="{{question.id}}">
    <button type="submit" class="col-md-5 btn square quiz-answer" value="a">
        <h4 value="answerA" data-question="{{question.id}}">A {{answerA}}</h4>
    </button>
        <div class="col-md-5 btn btn-answer-b square quiz-answer">
        <h4 value="answerB" data-question="{{question.id}}">B {{answerB}}</h4>
    </div>
        <div class="col-md-5 btn btn-answer-c square quiz-answer">
        <h4 value="answerC" data-question="{{question.id}}">C {{answerC}}</h4>
    </div>
        <div class="col-md-5 btn btn-answer-d square quiz-answer">
        <h4 value="answerD" data-question="{{question.id}}">D {{answerD}}</h4>
    </div>
</div>

<script src="/js/quiz-taker.js"></script>