<div class="text-center">
    <h2>{{quiz_name}}</h2>
        <h3>{{question.question_name}}</h3>
</div>

<div class="row mb-4 answer-group">
    <button type="submit" class="col-md-5 btn" id="btn-answer-a">
        <h4>A {{answerA}}</h4>
    </button>
        <div class="col-md-5 btn btn-answer-b">
        <h4>B {{answerB}}</h4>
    </div>
        <div class="col-md-5 btn btn-answer-c">
        <h4>C {{answerC}}</h4>
    </div>
        <div class="col-md-5 btn btn-answer-d">
        <h4>D {{answerD}}</h4>
    </div>
</div>

<script src="/js/quiz-taker.js"></script>